<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
<<<<<<< HEAD
 <p><%=  %></p>

 <form>
        <p>Team Name: <%= "#{@name}" %> </p>
        <p>Coach: <%= "#{@coach}" %> </p>
        <p>Point Guard: <%= "#{@pg}" %> </p>
        <p>Shooting Guard: <%= "#{@sg}" %> </p>
        <p>Small Forward: <%= "#{@sf}" %> </p>
        <p>Power Forward: <%= "#{@pf}" %> </p>
        <p>Center:  <%= "#{@c}" %> </p>
    <input type = "submit" value = "Submit">
 </form> 
=======
>>>>>>> 1cd429a3964caa746888f8eabb479c5d5a8aed7d
 </body>
</html>
</body>
</html>


